<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2">
    <div class="card">
      <img [src]="urlImg" alt="" class="card-img-top img-thumbnail">
      <div class="card-body text-center">
        <h5 class="card-little">{{name}}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Id: {{idUser}}</li>
          <li class="list-group-item">Email: {{email}}</li>
          <li class="list-group-item">Gender: {{gender}}</li>
          <li class="list-group-item">Status: {{status}}</li>
        </ul>
      </div>
      <button class="btn btn-primary w-100 btn-xl" routerLink="/dashboard">VOLVER</button>
    </div>
  </div>
</div>
